body {
  background-color: black;
}
h1 {
  color: crimson;
  margin: 30px;
  padding: 0px;
  font-size: 5rem; /* Adjust the size as needed */
}
img {
  max-width: 100vw; /* Image will not exceed viewport width */
  max-height: 100vh; /* Image will not exceed viewport height */
  width: auto;
  height: auto;
  display: block;
  margin: 10 auto;
}
p {
  color: white;
  margin: 20px;
  font-size: 1.5rem; /* Adjust the size as needed */
}
.topic {
  color: crimson;
}
.detail {
  color: white;
  margin: 20px;
  font-size: 1rem; /* Adjust the size as needed */
}
